body {
    front-family: Arial, sans-serif;
    <style>
body {
  background-image: url('logo.jpg');
}
</style>
}
#menu {
    background-color: #E18AAA;
    padding: 10px;
}
#menu a {
    color: white;
    text-decoration: none;
    margin: 5px;
}
h1 {
    color: blue;
}